body{
    display: inline-table;
}






nav{
    display: inline-block;
    margin: 0%;
    padding: 0%;
    margin-top: 10px;
    text-overflow: clip;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: auto;
}
    a{
        margin-left: 10px;
        text-transform: capitalize;
        text-decoration-line: underline;
        margin-top: 0%;
        -ms-flex-align: start;
        display: inline-block;
        padding-bottom: 0%
        ;


    }

    
button{
    background-color: green;
    margin-left: 30px;
    
}
button.bbg{
    background-color: blue;
}
:hover{
    
    border-radius: 20px;
    text-shadow: 1em ;
    
}